<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <title>{% block title %}{% endblock %}</title>
        <!-- SEO-information -->
        <meta name="description" content="Здесь вы можете ознакомиться с моей 
            биографией, примерами работ, а также предложить сотрудничество." />
        <meta name="keywords" content="разработка, сайтов, сайт, ключ, php, программист, симферополь, крым, инженер, ПО, reblog, 
            re-blog, реблог, портфолио, ре-блог, резюме, блог, резюме-блог, shumichenko, @shumichenko, блог-резюме, шумиченко,
            игорь, blog, resume, about, portfolio, россия" />
        <meta property="og:title" content="ReBlog - Резюме-блог Игоря Шумиченко (@shumichenko)" />
        <meta property="og:url" content="https://re-blog.ru/about" />
        <meta property="og:image" content="https://re-blog.ru/image/ebc291921b10e0ae11e4aa95.png" />
        <!-- /SEO-information -->
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet" />
        <link rel="shortcut icon" href="/image/ebc291921ssd222311e4.png" type="image/png" />
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(67847917, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/67847917" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </head>
    <body>
        <div id="application"></div>
    </body>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
